body {
    background-color: lavender;
    font-family: monospace;
}
header {
    width: 75%;
    background-color: skyblue;
}
img {
    height : 150px;
    background-color: skyblue;
}
h1 {
    text-align: right;
}

@media (max-width : 768px) {
    header{
        flex-direction:column;
    }
}
#reviews {
    display: block;
   
}
@media(max-width :500px) {
    #reviews {
         display: none;
    }
}