body {
    background-color: lavender;
    font-family: monospace;
}
header {
    width: 75%;
    background-color: skyblue;
}
img {
    height : 150px;
    background-color: skyblue;
}
h1 {
    text-align: right;
}